.page-container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  flex: 1;
  &--full { max-width: none; padding: 0; }
}

@media (min-width: 48rem) {
  .page-container {
    padding: 2rem 1.5rem;
    &--full { padding: 0; }
  }
}
